.TrafficLightContainer {
  width: 280px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.TrafficLight {
  width: 80px;
  height: 80px;
  background-color: darkgray;
  border-radius: 50%;
}


